<form [formGroup]="user">
  <h2>Войти в систему</h2><br>
  <mat-form-field>
    <mat-label>
      Username or E-mail
    </mat-label>
    <input matInput formControlName="usernameOrEmail">
    <mat-error *ngIf="user.invalid && user.controls.usernameOrEmail.invalid">
      Invalid username or E-mail
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>
      Password
    </mat-label>
    <input matInput formControlName="password" type="password">
    <mat-error *ngIf="user.invalid && user.controls.password.invalid">
      Invalid password
    </mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary"
          [disabled]="user.invalid"
  (click)="singIn()">
    Войти
  </button><br>
  <p *ngIf="!status" style="color: red">Ops...Something went wrong.</p>
</form>
