<mat-toolbar>
  <span>Двухфакторная аутентификация и шифрование пароля</span>
  <div *ngIf="!loggedIn" class="nav-buttons">
    <button mat-raised-button color="primary" class="nav-buttons-b" (click)="directory('singIn')">Sing In</button>
    <button mat-raised-button color="primary" class="nav-buttons-b" (click)="directory('singUp')">Sing UP</button>

  </div><button mat-raised-button color="warn" class="nav-buttons-b" (click)="exit()">Exit</button>

</mat-toolbar>
<app-auth #authComponent (event)="redirectToSecondAuth($event)" *ngIf="!loggedIn && singInComp"></app-auth>
<app-secondauth #secondauthComponent (event)="accepted($event)" *ngIf="!loggedIn && secondAuth"></app-secondauth>
<app-singup #singupComponent (event)="log($event)" *ngIf="!loggedIn && singUpComp || asDefault"></app-singup>
<app-page #pageComponent *ngIf="loggedIn"></app-page>

